.container {
    display: grid;
    grid-template-columns: 21.875rem 3fr;
    background: var(--gray-900, #17181C);
}

.closed_menu {
    grid-template-columns: 1fr;
}

.postElements {
    display: flex;
    padding: 2.25rem;
    align-items: flex-start;
    gap: 2.25rem;
    align-self: stretch; 
}

.postSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    flex: 1 0 0;
    align-self: stretch; 
}

.sideSection {
    display: flex;
    width: 17rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.25rem;
    align-self: stretch;
}