.container {
    display: flex;
    align-items: center;
    justify-content: center ! important;
    width: 100%;
    border-radius: 2.875rem;
    padding-inline: 1.5rem;
    border: 1px solid var(--orange);
    justify-content: space-between;
    background: var(--button-gradient);
    cursor: pointer;
}

.container button {
    border: none;
    background: none;
    outline: none;
    display: flex; 
    margin: 1.1875rem 1.5rem;
    text-align: center;
    
}