
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
:root {
  font-family: 'Poppins', sans-serif ;

  --white: #F5F5F5;
  --black: #000000;
  --orange: #FE2E05;
  --yellow: #E9B425;

  --gray-200: #A1A3A7;
  --gray-900: #17181C;
  --gray-700: #1E1F23;
  --gray-650: #27282F;
  --gray-600: #2E2F36;
  --gray-300: #75767D;
}
