@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto+Flex:opsz,wght@8..144,400;8..144,600;8..144,900&display=swap');

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
  color: var(--white);
}


:root {
  font-family: 'Poppins', sans-serif ;
  background-color: var(--gray-900);
  
  --white: #F5F5F5;
  --black: #000000;
  --orange: #FE2E05;
  --yellow: #E9B425;

  --gray-200: #A1A3A7;
  --gray-900: #17181C;
  --gray-700: #1E1F23;
  --gray-650: #27282F;
  --gray-600: #2E2F36;
  --gray-300: #75767D;

  --login-gradient: linear-gradient(180deg, var(--gray-600) 0%, var(--gray-900) 100%);
  --button-gradient: linear-gradient(180deg, #AD2D14 0%, #F42E07 100%);
}
